@page "/"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>IMC</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <img src="assets/icon-no-bg.png" alt="Descrição da imagem" class="img1" style="max-width: 50%; height: auto;"> 

                <h1 class="txt1">Cálculo de IMC</h1>
                <input class="div1" placeholder="Altura" name="Altura" @bind="Altura"/>
                <input class="div2" placeholder="Peso" name="Peso" @bind="Peso" />
                <input class="div3" placeholder="&nbsp;Sexo" name="Sexo" />

                <label>
                    <input class="checkbox" type="checkbox" name="idade" value="mais65"> Eu tenho 65 anos ou mais.
                </label> 
               


                <button class="button1" @onclick="NavigateToOtherPage">Calcular meu IMC</button>
                <button class="button2" @onclick="NavigateToOtherPage">Entenda o cálculo</button>
        </div>
    </div>
</body>